@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer base {
  html {
    scrollbar-gutter: stable;
  }

  body {
    overflow-x: hidden;
  }

  :focus-visible {
    outline-offset: 1px;
    outline: 2px solid theme("colors.blue.600");
  }
}
